.adminlogin{
    height: 300px;
    width: 550px;
    background-color: rgba(16, 67, 139, 0.584);
    border-radius: 20px;
    /* border: 1px solid black; */
    position: relative;
    left: 550px;
    top:60px;
    text-align: center;
}
.adminlogin input{
    border-radius: 15px;
    height: 40px;
    /* width: 250px; */
}
.adminlogin button{
    border:none;
    border-radius: 15px;
    height: 43px;
    width: 90px;
   margin-top: 50px;
   background-color: green;
   font-size: 20px;
   color: white;
   font-weight: bold;
}
.adminlogin label{
    font-size: 20px;
    font-weight: bold;


}
.adminlogin h1{
    color: blue;
    font-style: italic;
}