.updatebooks{
    background-color: white;
    /* border: 1px solid red; */
    height: 76vh;
    width: 530px;
    position: relative;
    left: 40%;
    top: 10px;
    text-align: start;
    border-radius: 20px;

}
.updatebooks input{
    height: 30px;
    width: 200px;
    margin: 20px;
    justify-items: center;
  
}
.updatebooks label{
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
}
.updatebooks button{
    padding: 8px;
    border-radius: 20px;
    background-color: green;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 35%;
}
.updatebooks textarea{
    justify-items: center;
}