.viewitems{
    display: flex;
    color: white;
    height: 40vh;
    box-shadow: 0px 10px 10px black;
    justify-content: start
}
.viewitems img{
    height: 280px;
    width: 280px;
}
.itemdescription{
    padding-left: 20px;
}
.itemdescription button{
    background-color: rgba(193, 29, 29, 0.899);
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    color: white;
}
.itemdescription button:hover{
    box-shadow: 0px 10px 10px black;
}
.viewitems img:hover{
    box-shadow: 0px 10px 10px rgb(6, 6, 6);
}
#del{
    height: 50px;
    width: 60px;
    /* transform: translateY(20px); */

}
.viewbooklist h1{
    position: sticky;
    top: 35px;
}
#readicon{
    background-color: green;

}
#edit{
    /* transform: translate(20px); */
    background-color: red;

}
